.container-top{
    height: 100vh;
    width: 100%;
    .bg-left{
        background-color: black;
        height: 100%;
        h1, p{
            color: white;
        }
    }
    .bg-head{
        background-image: url('https://img3.goodfon.com/wallpaper/nbig/c/2e/marvel-comics-spider-man-7056.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}